.post {
  padding: 1.5rem 2.5rem;
}
.post-header {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
}
.form-label {
  font-size: 1.3rem;
  margin-top: 1rem;
}
.form input {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: 80%;
}
.form textarea {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form input[type="date"] {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form select {
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1rem;
  width: 30%;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.form select:focus {
  outline: none;
}
.form select option {
  font-size: 0.9rem;
}
.form button {
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border: none;
  background-color: #000;
  color: #ffff;
  width: 80%;
}
.error-text {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #b31312;
}
.form button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
